@font-face {
	font-family: 'Berthold Akzidenz Grotesk BE';
	src: url('AkzidenzGroteskBE-Regular.eot');
	src: url('AkzidenzGroteskBE-Regular.eot?#iefix') format('embedded-opentype'),
		url('AkzidenzGroteskBE-Regular.woff') format('woff'),
		url('AkzidenzGroteskBE-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Berthold Akzidenz Grotesk BE';
	src: url('AkzidenzGroteskBE-Md.eot');
	src: url('AkzidenzGroteskBE-Md.eot?#iefix') format('embedded-opentype'),
		url('AkzidenzGroteskBE-Md.woff') format('woff'),
		url('AkzidenzGroteskBE-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}


* {
  margin: 0;
  padding: 0;
}

html, 
body, 
p,
h1
 {
  font-family:'Berthold Akzidenz Grotesk BE', sans-Serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  color:white
}

i {
  line-height: 1.3;

}

.projects {
    font-family:'Berthold Akzidenz Grotesk BE', sans-Serif;
  font-size: 18px;
  font-style: normal;
  line-height: 1.3;
  color:white
}

.date
{
    font-family:'Berthold Akzidenz Grotesk BE', sans-Serif;
    font-size: 18px;
    font-weight: 500;

  
}

.title {
    font-family:'Berthold Akzidenz Grotesk BE', sans-Serif;
    font-size: 15px;

}

.polcies
{
  background-color:#009A17;
  padding: 50px 600px 50px 50px;
width:750vw;

}


.second
 {
  background-color:#009A17;
  width:100vw;

}

.content {

  width:50vw;
}


/* Sides */

.left {
margin:20;
  width: 50vw;
  background-color: blue
}

.right {
    margin:20;
  width: 50vw;
  background-color:orange;
  
}

.left, 
.right,
.second {
  overflow-y: scroll; 
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
  height: 100vh;
}

/* Info */
.schedule
{
    padding: 20px 10px 10px 10px;
      font-size: 12px;
      line-height: 1.1;

}

.container {
	margin: 0px;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-direction: row;
  overflow-x: hidden !important; 
  overflow-y: hidden !important;
  width: 100vw;
  height: 100vh;

}

/* Links */
a { color:white;
    text-decoration: none;
    border-bottom: white 0.125em solid;
}

a:hover {
  color:white;
}

/* Rows */

.row {
  width: auto;
  height: auto;
  border-top:1px solid white;
  padding: 10px 10px 10px 10px;
  border-right: 1px solid white;
  border-left: 1px solid white;

  display: grid;
  grid-template-columns: 200px, auto;
}

.last-row
{
    width: auto;
    height: auto;
    padding: 10px 10px 10px 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    display: grid;
    grid-template-columns: 300px auto;
    border-bottom:1px solid white;

    display: grid;
  grid-template-columns: 200px, auto;
}

.section {
  padding: 20px 40px 10px 10px;

}


/* Lists */

ol {
  
  margin-left: 20px;
}

ul {
  margin-left: 20px;
  margin-top: 0px;
}

blockquote {
  margin-left: 20px;
}



/* Querey */

@media screen and (max-width: 650px) {
  html,
  body, 
  p,
  .h1 {
    font-size: 12px;
    line-height: 1.1;
  }

  .row {
    grid-template-columns: 1fr;
  }
  
} 

.polcies
{
  background-color:#009A17;
  width:75vw;

}
